In [1]:
import pathlib as pl
import sys
import json
import subprocess as sp

import jinja2
import pandas as pd
import numpy as np

sys.path.append("../")
import payulator as pu

%load_ext autoreload
%autoreload 2

# Configure

In [2]:
LOAN_CODE = "C-Vallyon-20220201"
LOAN_DIR = pl.Path.home() / "merriweather/loans/active" / LOAN_CODE

%ls {LOAN_DIR}

contract/  parameters.json  payment_schedule.csv

# Build contract from parameters

In [3]:
path = LOAN_DIR / "parameters.json"
#%less {LOAN_DIR / "parameters.json"}
contract = pu.read_loan_contract(path)
contract

LoanContract(code='C-Vallyon-20220201', principal=13000, interest_rate=0.1, payment_freq='monthly', compounding_freq='monthly', num_payments=48, num_payments_interest_only=12, fee=150, first_payment_date=datetime.date(2022, 3, 6), kind='combination', date=datetime.date(2022, 2, 1), borrowers=['Catherine Vallyon of Waitetuna, New Zealand'], borrower_email='catherine@vallyon.net', securities=['Musical instrument made by Paul Downie, copy of a 1760 Double Manual French harpsichord '], guarantors=[], notes='')

# Summarize and write payment schedule to CSV

In [4]:
s = contract.summarize()
display(s["payment_schedule"])
for k, v in s.items():
    if k != "payment_schedule":
        print(f"{k} = {v}")

,payment_sequence,payment_date,beginning_balance,principal_payment,ending_balance,interest_payment,fee_payment,total_payment,notes
0,1,2022-03-06,13000.00,0.00,13000.00,108.33,150,258.33,NaN
1,2,2022-04-06,13000.00,0.00,13000.00,108.33,0,108.33,NaN
2,3,2022-05-06,13000.00,0.00,13000.00,108.33,0,108.33,NaN
3,4,2022-06-06,13000.00,0.00,13000.00,108.33,0,108.33,NaN
4,5,2022-07-06,13000.00,0.00,13000.00,108.33,0,108.33,NaN
5,6,2022-08-06,13000.00,0.00,13000.00,108.33,0,108.33,NaN
6,7,2022-09-06,13000.00,0.00,13000.00,108.33,0,108.33,NaN
7,8,2022-10-06,13000.00,0.00,13000.00,108.33,0,108.33,NaN
8,9,2022-11-06,13000.00,0.00,13000.00,108.33,0,108.33,NaN
9,10,2022-12-06,13000.00,0.00,13000.00,108.33,0,108.33,NaN
10,11,2023-01-06,13000.00,0.00,13000.00,108.33,0,108.33,NaN
11,12,2023-02-06,13000.00,0.00,13000.00,108.33,0,108.33,NaN
12,13,2023-03-06,13000.00,311.14,12688.86,108.33,0,419.47,NaN
13,14,2023-04-06,12688.86,313.73,12375.13,105.74,0,419.47,NaN
14,15,2023-05-06,12375.13,316.35,12058.78,103.13,0,419.47,NaN
15,16,2023-06-06,12058.78,318.98,11739.80,100.49,0,419.47,NaN
16,17,2023-07-06,11739.80,321.64,11418.15,97.83,0,419.47,NaN
17,18,2023-08-06,11418.15,324.32,11093.83,95.15,0,419.47,NaN
18,19,2023-09-06,11093.83,327.02,10766.81,92.45,0,419.47,NaN
19,20,2023-10-06,10766.81,329.75,10437.06,89.72,0,419.47,NaN
20,21,2023-11-06,10437.06,332.50,10104.56,86.98,0,419.47,NaN
21,22,2023-12-06,10104.56,335.27,9769.29,84.20,0,419.47,NaN
22,23,2024-01-06,9769.29,338.06,9431.23,81.41,0,419.47,NaN
23,24,2024-02-06,9431.23,340.88,9090.35,78.59,0,419.47,NaN
24,25,2024-03-06,9090.35,343.72,8746.63,75.75,0,419.47,NaN
25,26,2024-04-06,8746.63,346.58,8400.04,72.89,0,419.47,NaN
26,27,2024-05-06,8400.04,349.47,8050.57,70.00,0,419.47,NaN
27,28,2024-06-06,8050.57,352.39,7698.18,67.09,0,419.47,NaN
28,29,2024-07-06,7698.18,355.32,7342.86,64.15,0,419.47,NaN
29,30,2024-08-06,7342.86,358.28,6984.58,61.19,0,419.47,NaN
30,31,2024-09-06,6984.58,361.27,6623.31,58.20,0,419.47,NaN
31,32,2024-10-06,6623.31,364.28,6259.03,55.19,0,419.47,NaN
32,33,2024-11-06,6259.03,367.31,5891.72,52.16,0,419.47,NaN
33,34,2024-12-06,5891.72,370.38,5521.34,49.10,0,419.47,NaN
34,35,2025-01-06,5521.34,373.46,5147.88,46.01,0,419.47,NaN
35,36,2025-02-06,5147.88,376.57,4771.30,42.90,0,419.47,NaN
36,37,2025-03-06,4771.30,379.71,4391.59,39.76,0,419.47,NaN
37,38,2025-04-06,4391.59,382.88,4008.71,36.60,0,419.47,NaN
38,39,2025-05-06,4008.71,386.07,3622.65,33.41,0,419.47,NaN
39,40,2025-06-06,3622.65,389.28,3233.36,30.19,0,419.47,NaN
40,41,2025-07-06,3233.36,392.53,2840.83,26.94,0,419.47,NaN
41,42,2025-08-06,2840.83,395.80,2445.03,23.67,0,419.47,NaN
42,43,2025-09-06,2445.03,399.10,2045.94,20.38,0,419.47,NaN
43,44,2025-10-06,2045.94,402.42,1643.51,17.05,0,419.47,NaN
44,45,2025-11-06,1643.51,405.78,1237.73,13.70,0,419.47,NaN
45,46,2025-12-06,1237.73,409.16,828.58,10.31,0,419.47,NaN
46,47,2026-01-06,828.58,412.57,416.01,6.90,0,419.47,NaN
47,48,2026-02-06,416.01,416.01,0.00,3.47,0,419.47,NaN

periodic_payment = {'interest_only': 108.33, 'amortized': 419.47}
interest_total = 3401.04
interest_and_fee_total = 3551.04
payment_total = 16551.04
interest_and_fee_total_over_principal = 0.27
first_payment_date = {'interest_only': datetime.date(2022, 3, 6), 'amortized': datetime.date(2023, 3, 6)}
last_payment_date = {'interest_only': datetime.date(2023, 2, 6), 'amortized': datetime.date(2026, 2, 6)}

In [5]:
path = LOAN_DIR/"payment_schedule.csv"
s["payment_schedule"].to_csv(path, index=False)

%ls {LOAN_DIR}

contract/  parameters.json  payment_schedule.csv

# Write contract to PDF

In [6]:
# path = LOAN_DIR/"contract"/f"contract_{LOAN_CODE}.html"
# contract.to_html(path)

In [11]:
path = LOAN_DIR / "contract" / f"contract_{LOAN_CODE}.pdf"
if not path.parent.exists():
    print("Creating directory", path.parent)
    path.parent.mkdir()
    
contract.to_pdf(path)